@media (min-width: 700px)and (max-width: 1900px) {
    .first p {
        font-size: 17px;
        width: 85%;
    }

    .first h1 {
        font-size: 47px;
        width: 89%;
    }

    .imagens {
        padding-top: 100px;
        width: 85%;
    }

    .img-app-store,
    .img-google-play {
        width: 38%;
    }

    .linha {
        display: none;
    }

    .sobre {
        padding: 20px;
        position: relative;
        left: 35px;
        width: 60%;
        height: 30vh;
        font-size: 17px;
    }

    .second h1 {
        font-size: 43px;
        width: 89%;
    }

    .img-second {
        position: relative;
        top: 50px;
        width: 30%;

    }

    .third h1 {
        font-size: 40px;
        position: relative;
        top: 30px;
        right: 160px;
    }

    .img-estrela,
    .img-hexa,
    .img-bola {
        width: 30%;
        position: relative;
        right: 100px;
        top: 60px;
    }

    .titulo-quatro h1{
        left: 20px;
    }

    .titulo-cinco h1{
        width:30%;
    }
    .titulo-cinco p{
        width: 30%;
    }
    .imagem-quatro{
        left: 250px;
    }
    .img-quatro{
        width: 70%;
       height: 35vh;
    }
}



@media (max-width: 699px) {
    .first p {
        font-size: 15px;
        padding: 20px;
    }

    .first h1 {
        font-size: 40px;
        width: 85%;
        padding: 20px;
    }

    .imagens {
        display: none;
    }

    .first h1 {
        font-size: 40px;
        width: 85%;
    }

    .linha {
        display: none;
    }

    .sobre {
        padding: 20px;
        position: relative;
        left: 40px;
        top: 80px;
        width: 60%;
        height: 30vh;
        font-size: 17px;
    }

    .second h1 {
        font-size: 35px;
        width: 90%;
        height: 30vh;
    }

    .img-second {
        display: none;
    }

    .third h1 {
        font-size: 40px;
        position: relative;
        top: 40px;
        right: 160px;
    }

    .img-estrela,
    .img-hexa,
    .img-bola {
        width: 40%;
        position: relative;
        right: 275px;
        top: 70px;
    }
    .depoimentos{
        font-size: 10px;
        width: 90%;
        height: 35vh;
    }
    .titulo-cinco h1{
        width: 50%;
        left: 165px;
    }
    .titulo-cinco p{
        width: 40%;
        font-size: 15px;
        bottom: 50px;
    }
    .img-quatro{
        display: none;
    }
}